@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind components;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.25rem;
}

blockquote {
  background-color: red;
}

html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a5a5a580;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a5;
}

/* ANIMATIONS */
@media screen and (prefers-reduced-motion: no-preference) {
  .fade-up {
    @apply ease-in;
    transition: all 0.5s var(--animation-delay, 0ms);
  }

  .fade-in {
    transition: opacity 0.5s var(--animation-delay, 0ms);
  }

  .is-inactive {
    &.fade-up,
    .fade-up {
      @apply scale-95;
    }
  }

  .out-of-screen {
    &.fade-up,
    .fade-up {
      @apply scale-95 opacity-90;
    }

    &.fade-in,
    .fade-in {
      @apply opacity-0;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@layer components {
  .btn {
    @apply text-zinc-100 inline-flex gap-2 rounded-2xl px-5 py-2 outline-offset-4 transition-all duration-300 hover:-translate-y-0.5 hover:bg-opacity-90 hover:shadow-md disabled:pointer-events-none disabled:opacity-50 disabled:grayscale;
  }

  .progress-story {
    @apply invisible;
  }

  .main-story:hover .progress-story {
    @apply visible transition-shadow duration-1000 ease-linear;
  }
}
