---
import Header from "../components/Header.astro"
import Body from "../components/Body.astro"
import Content from "../components/Content.astro"
import Sidebar from "../components/Sidebar.astro"
import BaseHead from "../components/BaseHead.astro"
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import { Image } from 'astro:assets'

const aspectRatio = 2.8
const width = 360 * 2
const height = width / aspectRatio

---

<html lang="en">
	<head>
    <BaseHead title={} description={} />
	</head>
  <Body>
    <Header />
    <main class="pt-[56px]">
      <section class="relative mb-6 h-80 flex justify-center items-center">
        <Image 
          src={"/images/masthead/carousel-2.jpg"}
          width={width}
          height={height}
          aspectRatio={aspectRatio}
          alt="Thumbnail"
        />
      </section>
      <Content>
      </Content>
      <Sidebar />
    </main>
  </Body>
</html>
