---
import Header from "../components/Header.astro"
import Body from "../components/Body.astro"
import Content from "../components/Content.astro"
import Sidebar from "../components/Sidebar.astro"
import BaseHead from "../components/BaseHead.astro"
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import { Image } from 'astro:assets'

const aspectRatio = 2.8
const width = 360 * 2
const height = width / aspectRatio

---

<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
  <Body>
    <Header />
    <main class="pt-[76px]">
      <section>
        <section class="mx-auto max-w-4xl flex justify-center md:justify-between gap-2 items-center p-4">
          <div class="w-96">
            <header class="flex flex-col gap-4">
              <h1 class="font-semibold text-6xl text-center md:text-left">Soluciones Técnologicas a tu alcance</h1>
              <article>
                <p class="text-center md:text-left">Reparación y Venta de Celulares, Personalización y Mantenimiento de Computadoras</p>
              </article>
              <div class="mt-5">
                <a href="/contenido" class="border-2 border-blue-900 font-semibold bg-blue-900 px-5 py-3 rounded-2xl mr-4">Ver contenido</a>
                <a href="https://teamcellmania.com/products" target="_blank" class="font-semibold border-2 px-6 py-3 rounded-2xl border-blue-900">Visita nuestra tienda</a>
              </div>
            </header>
          </div>
          <div class="bg-white w-[328px] h-[568px] rounded-3xl md:inline hidden">
          </div>
        </section>
      </section>
      <section class="">

      </section>
    </main>
  </Body>
</html>
