---
import Header from "../components/Header.astro"
import Body from "../components/Body.astro"
import Content from "../components/Content.astro"
import Sidebar from "../components/Sidebar.astro"
import { Image } from 'astro:assets'

const aspectRatio = 2.8
const width = 360 * 2
const height = width / aspectRatio

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <Body>
    <Header />
    <main class="pt-[56px]">
      <section class="relative mb-6 h-80 flex justify-center items-center">
        <Image 
          src={"/images/masthead/carousel-2.jpg"}
          width={width}
          height={height}
          aspectRatio={aspectRatio}
          alt="Thumbnail"
        />
      </section>
      <Content>
      </Content>
      <Sidebar />
    </main>
  </Body>
</html>
