---
import ImagesStories from "../../components/ImagesStories"
import BaseHead from "../../components/BaseHead.astro"
import Body from "../../components/Body.astro"
import {SITE_DESCRIPTION, SITE_TITLE} from "../../config.ts"

export async function getStaticPaths() {
  const stories = [
    {
      type: 'video',
      duration: 26000,
      url: '/videos/xiaomi-unboxing.mp4',
      thumbnail: "/images/banner1.png",
    },
    {
      type: 'video',
      url: '/videos/troca.mp4',
      duration: 5000,
      thumbnail: "/images/banner2.png",
    },
    {
      type: 'video',
      url: '/videos/download.mp4',
      thumbnail: "/images/banner3.png",
    },
  ];
  const postResult = stories.map((post,index) => ({
    params: { slug:  index},
    props: { stories },
  }));

  return [...postResult];
}

const { slug } = Astro.params
const stories = [
    {
      type: 'video',
      duration: 26000,
      url: '/videos/xiaomi-unboxing.mp4',
      thumbnail: "/images/banner1.png",
    },
    {
      type: 'video',
      url: '/videos/troca.mp4',
      duration: 5000,
      thumbnail: "/images/banner2.png",
    },
    {
      type: 'video',
      url: '/videos/download.mp4',
      thumbnail: "/images/banner3.png",
    },
  ];

---
<!DOCTYPE html>
<html lang="es" class="overflow-hidden">
  <head>
    <BaseHead title={`Historias | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="z-20 bg-zinc-900 h-screen max-h-screen w-full grid place-items-center justify-center overflow-hidden">
      <a class="absolute z-30 top-2 left-3 text-2xl text-white font-mono" href="/">x</a>
      <div class="w-screen h-screen">
        <ImagesStories stories={stories} index={slug} client:load/>
      </div>
    </div>
  </body>
</html>

