---
import ImagesStories from "../../components/ImagesStories"

const { index = 0 } = Astro.props

const stories = [
  {
    type: 'video',
    url: '/videos/video.mp4',
    thumbnail: "/images/banner1.png",
  },
  {
    type: 'video',
    url: '/videos/video2.mp4',
    duration: 45000,
    thumbnail: "/images/banner2.png",
  },
  {
    type: 'video',
    url: '/videos/video3.mp4',
    thumbnail: "/images/banner3.png",
  },
  {
    type: 'video',
    url: '/videos/video4.mp4',
    thumbnail: "/images/banner3.png",
  },
  {
    type: 'video',
    url: '/videos/video2.mp4',
    thumbnail: "/images/banner3.png",
  },
  {
    type: 'video',
    url: '/videos/video5.mp4',
    thumbnail: "/images/banner3.png",
  },
  {
    type: 'video',
    url: '/videos/video3.mp4',
    thumbnail: "/images/banner3.png",
  },
  {
    type: 'video',
    url: '/videos/video3.mp4',
    thumbnail: "/images/banner3.png",
  },
];
---
<div class="z-20 bg-zinc-900 h-screen max-h-screen w-full grid place-items-center justify-center overflow-hidden">
  <div class="w-full h-auto">
    <ImagesStories stories={stories} index={index} client:load/>
  </div>
</div>
