---
import HeaderLink from "./HeaderLink.astro"
---
<header class="fixed w-full py-2 backdrop-blur-xl z-20">
  <section class="max-w-4xl mx-auto">
    <div class="flex px-4">
      <div>
        <img 
          class="max-w-48 max-h-12 w-full object-cover aspect-[4/1]" 
          src="/tcm-logo.png" 
          alt="Logo Team cellmania">
      </div>
      <span class="flex-1"></span>
      <nav class="text-white flex flex-row gap-4">
        <HeaderLink href={"/"}>Inicio</HeaderLink>
        <HeaderLink href={"/contenido"}>Contenido</HeaderLink>
        <HeaderLink href={"/tienda"}>Tienda</HeaderLink>
      </nav>
    </div>
  </section>
</header>

