---
import { Image } from "astro:assets";
---
<section class="mx-auto max-w-4xl py-12">
  <div class="flex justify-center">
    <section class="flex flex-col md:flex-row-reverse bg-sky-900 p-5 md:py-5 md:px-14 justify-between gap-8">
      <div class="max-w-[360px] flex-1">
        <h2 class="text-white mt-14 md:mt-20 font-medium text-5xl text-center leading-tight">Brindamos servicios profesionales</h2>
        <article class="bg-sky-700 px-8 py-6 rounded mt-16">
          <header class="mb-6">
            <span class="text-lg text-white">Repuestos</span>
          </header>
          <div class="flex justify-center">
            <Image
            class="object-contain aspect-square w-64 h-64"
            src='/images/services/celular.webp'
            width={256}
            height={256}
            alt="tumbnail"
            loading={'lazy'}
          />
          </div>
          <h4 class="text-white text-xl mt-3">Repuestos orginales para tus dispositivos</h4>
        </article>
      </div>
      <div class="max-w-[360px] flex-1">
        <article class="bg-sky-200 mt-0 md:-mt-14 px-8 py-6 rounded">
          <header class="mb-6">
            <span class="text-lg">Servicio técnico</span>
          </header>
          <div class="relative flex justify-center">
            <Image
            class="object-contain aspect-square w-64 h-64"
            src='/images/services/playstation.webp'
            width={256}
            height={256}
            alt="tumbnail"
            loading={'eager'}
          />
            <div class="absolute bottom-0 left-0  items-center fade-up inline-flex flex-wrap gap-4">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href={"https://orders.teamcellmania.com/check-order"}
                class="btn bg-black text-white"
                >
                <span class="text-base">
                  Consulta el estado de tu equipo
                </span>
              </a>
            </div>
          </div>
          <h4 class="mt-3 text-xl">Mantenimiento y reparación de consolas</h4>
        </article>
        <article class="bg-sky-400 mt-8 mb-0 md:-mb-14 px-8 py-6 rounded">
          <header class="mb-6">
            <span class="text-lg">Servicio técnico</span>
          </header>
          <div class="relative flex justify-center">
            <Image
            class="object-contain aspect-square w-64 h-64"
            src='/images/services/computadora.webp'
            width={256}
            height={256}
            alt="tumbnail"
            loading={'eager'}
          />
            <div class="absolute bottom-0 left-0  items-center fade-up inline-flex flex-wrap gap-4">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href={"https://orders.teamcellmania.com/check-order"}
                class="btn bg-black text-white"
                >
                <span class="text-base">
                  Consulta el estado de tu equipo
                </span>
              </a>
            </div>
          </div>
          <h4 class="mt-3 text-xl">Mantenimiento y reparación de computadoras</h4>
        </article>
      </div>
    </section>
  </div>
</section>
