---
export interface Props {
  className?: string
}
const { className = '' } = Astro.props
---
<a class={`flex items-center gap-3 text-gray-500 hover:bg-white hover:text-black cursor-pointer rounded-lg p-1 ${className}`}>
  <slot/>
</a>
