---
---
<div class="w-20 h-20 rounded-full bg-gradient-to-br from-[#06ccf4] via-[#0576bc] to-[#043863] p-0.5">
  <button class="h-full w-full bg-zinc-900 rounded-full">
  </button>
</div>
<div class="w-20 h-20 rounded-full bg-gradient-to-br from-[#06ccf4] via-[#0576bc] to-[#043863] p-0.5">
  <button class="h-full w-full bg-zinc-900 rounded-full">
  </button>
</div>
<div class="w-20 h-20 rounded-full bg-gradient-to-br from-[#06ccf4] via-[#0576bc] to-[#043863] p-0.5">
  <button class="h-full w-full bg-zinc-900 rounded-full">
  </button>
</div>
