---
import { Image } from "astro:assets";
import type { Product } from "../types";
// import Carousel from "./Carousel";
import CardProducts from "./CardProducts.astro";
import { POST } from "../pages/products.json";
import { STOREPAGE_URL } from "../config";

let products = await POST();
const productsResult = await products?.json();
---
<section class="bg-blue-700 py-8">
  <section class="grid grid-cols-1 md:grid-cols-3 mx-auto max-w-4xl">
    <div class="col-span-2 mr-6 p-10">
      <Image src="/images/store.webp" width={600} height={600} alt="mando"/>
    </div>
    <section class="col-span-1 content-center p-4">
      <h2 class="font-bold mb-6 text-zinc-300">Tienda</h2>
      <p class="text-lg mb-10 text-zinc-300">
        Descubre nuestra tienda online, con una selección única y emocionante de productos electrónicos que superarán todas tus expectativas.
      </p>

      <div style="--animation-delay: 0.6s" class="items-center fade-up inline-flex flex-wrap gap-4">
        <a href={STOREPAGE_URL} class="btn bg-black text-zinc-300">
          <div class="fill-none stroke-zinc-300 w-6">
            <svg viewBox="0 0 24 24"><g stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M19.5 22a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM9.5 22a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" fill="#000"/><path d="M16.5 4H22l-2 11h-4.5m1-11-1 11m1-11h-5.75m4.75 11h-4m-.75-11H5l2 11h4.5m-.75-11 .75 11M5 4c-.167-.667-1-2-3-2M20 15H5.23c-1.784 0-2.73.781-2.73 2 0 1.219.946 2 2.73 2H19.5"/></g></svg>
          </div>
          <span>Comprar productos</span>
        </a>
      </div>
    </section>
  </section>
  <section class="mx-auto max-w-4xl px-4">
    <!-- <Carousel client:load/> -->
  </section>
</section>
<section class="mx-auto max-w-4xl p-4 mt-20">
<header class="flex justify-center mb-16">
  <h2 class="text-2xl font-bold">
    <span class="text-zinc-900">
      Productos Destacados
    </span>
  </h2>
</header>
<section class="flex flex-wrap justify-center gap-x-10 gap-y-5">
  <a 
    class="group cursor-pointer relative grid justify-items-center overflow-hidden align-items-center"
    href={`${STOREPAGE_URL}/products/nintendo-switch`}
    target="_blank"
  >
    <Image alt="thumbnail" loading={'eager'} class={`object-scale-down aspect-square h-44 w-44 transition duration-700 ease-in-out group-hover:scale-110`} src="/images/products/nintendo.webp" width={176} height={176} />
    <h4 class="font-extrabold w-64 text-center group-hover:text-blue-800">Nintendo Switch</h4>
    <span class="font-extrabold text-center mt-3">$275.00</span>
  </a>
  <a 
    class="group cursor-pointer relative grid justify-items-center overflow-hidden align-items-center"
    href={`${STOREPAGE_URL}/products/regulador-de-voltaje-120-220v`}
    target="_blank"
  >
    <Image alt="thumbnail" loading={'eager'} class={`object-scale-down aspect-square h-44 w-44 transition duration-700 ease-in-out group-hover:scale-110`} src="/images/products/regulador.webp" width={176} height={176} />
    <h4 class="font-extrabold w-64 text-center group-hover:text-blue-800">Regulador de voltaje</h4>
    <span class="font-extrabold text-center mt-3">$110.00</span>
  </a>
</section>
<header class="flex justify-center my-16">
  <h2 class="text-2xl font-bold">
    <span class="text-zinc-900">
      Nuevos Productos
    </span>
  </h2>
</header>
<section class="flex flex-wrap justify-center gap-x-10 gap-y-5">
  {
    productsResult?.allProducts.edges.map((product: Product) => (
      <CardProducts product={product}/>
    ))
  }
</section>
<section>
