---
import Header from "../components/Header.astro"
import Body from "../components/Body.astro"
import Content from "../components/Content.astro"
import BaseHead from "../components/BaseHead.astro"
import Sidebar from "../components/Sidebar.astro"
import {SITE_TITLE, SITE_DESCRIPTION} from "../config.ts"
import ContentPost from '../layouts/ContentPost.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---
<ContentPost>
  <div>
    <h1>{title}</h1>
    <strong>{description}</strong>
  </div>
  <slot></slot>
</ContentPost>
