---
import Header from "../components/Header.astro"
import Body from "../components/Body.astro"
import Content from "../components/Content.astro"
import Sidebar from "../components/Sidebar.astro"
import BaseHead from '../components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`Contenido / ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <article class={`px-8 mx-auto max-w-3xl`}>
      <main class="pt-20">
        <div class="grid grid-cols-4 gap-4">
          <section class="col-span-4 md:col-span-3">
            <section>
              <slot></slot>
            </section>
          </section>
          <Sidebar className="col-span-4 md:col-span-1 h-fit md:sticky top-0" />
        </div>
      </main>
  </Body>
</html>

